//文字コードはutf-8
@charset "UTF-8";
@use "../_common/mixins" as m;
@use "../_common/fonts" as f;
@use "../_common/color" as c;

// 共通
html { scroll-behavior: smooth;}

body {
  max-width: 1189px;
  width: 100%;
  margin: 0 auto;
  background-color: c.$cr-bg;
}

.contents_width {
  // width: 994px;
  width: 995px;
  margin: 0 auto;

  @include m.forTab { width: 100%;}
  @include m.forSp { width: 100%;}
}

a { color: c.$cr_txt_stg; text-decoration: none;}

h2 {
  font-size: 26px;
  color: c.$cr-m;
  font-family: f.$ff-serif;
  line-height: 1.72em;
  letter-spacing: 0.15em;
  text-align: center;
  @include m.forSp {
    font-size: 20px;
    line-height: 1.5em;
  }
}

h3 { font-weight: f.$fw-bg;}

p {
  font-size: 14px;
  color: c.$cr_txt;
  font-family: f.$ff-sans;
  letter-spacing: 0.16em;
  line-height: 1.75em;
  @include m.forSp { font-size: 12px;}
}

.rel_btn {
  font-family: f.$ff-sans;
  font-weight: f.$fw-bg;
  letter-spacing: 0.15em;

  &::after {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-left: 6px;
    border-radius: 20px;
    background-image: url("../img/pc/icon_next.png");
    background-size: 7px;
    background-repeat: no-repeat;
    background-position: 55% center;
    vertical-align: sub;
    background-color: c.$cr_txt_stg;
  }

  &:hover { 
    color: c.$cr-m;

    &::after { background-color: c.$cr-m;}
  }
  
  @include m.forSp { 
    font-size: 14px;

    &::after {
      width: 18px;
      height: 18px;
      margin-left: 6px;
      background-size: 6px;
    }
  }
}

.flex_item,
.flex_item_2 { 
  display: flex;

  @include m.forTab {
    align-items: center;
  }

  @include m.forSp {
    display: block;
    padding: 0 20px;
    img { width: 100%; margin: 0 !important;}
  }

  .item_text {
    padding-top: 31px;

    @include m.forTab { padding-top: 0;}

    h3 {
      font-size: 22px;
      color: c.$cr_txt_stg;
      font-family: f.$ff-serif;
      letter-spacing: 0.15em;
      margin-bottom: 14px;
    }

    p { margin-bottom: 21px;}

    @include m.forSp {
      padding-top: 15.5px;
      h3 { 
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 8px;
      }

      p { 
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 14px;
      }
    }
  }  
}

.flex_item {
  margin-bottom: 30px;

  img { 
    margin-right: 50px;
  }

  @include m.forSp {
    margin-bottom: 40px;
  }
}

@include m.forSp {
  .flex_item_2 {
    display: flex;
    flex-wrap: wrap; 
  
    .item_text { order: 1;}
  }
}


.flex_item_2 img { 
  margin-left: 50px;

  @include m.forSp { margin-bottom: 3px !important;}
}

// PCの時だけ表示
.pc{
  display: block;
	@media screen and ( max-width: 768px) {
		display: none;
	}
}

.tab {
  display: none;
  @media screen and (max-width: 1024px) {
    display: block;
  }
}

// SPの時だけ表示
.sp{
  display: none;
	@media screen and ( max-width: 768px) {
		display: block;
	}
}
// 共通

// 画面暗く
@include m.forSpTab {
  .ham_cover {
    opacity: 0;
    transition: all 0.4s;
  }
  
  .ham_cover.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 997;
    opacity: 1;
    background: rgba(3,3,3,.5);
  }
}
// 画面暗く

main { 
  transition: all 0.4s;
  margin-top: 82px;
  @include m.forSpTab {
    position: relative;
    & > * { padding: 0 25px;}
    & > .main_visual { padding: 0;} 
  }
  @include m.forSp { margin-top: 50px;}
}

//main_visual
.kv img { width: 100%;}
//main_visual

// service
.service {
  padding-top: 52px;
  padding-bottom: 66px;
  text-align: center;
  @include m.forSp {
    padding-top: 41.5px;
  }

  h2 {
    letter-spacing: 0.21em;
    margin-bottom: 26px;

    @include m.forSp { margin-bottom: 9.5px;}
  }
  
  .service_wrap {
    margin-top: 26px;
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;

    @include m.forTab {
      display: block;

      .service_item img {
        width: 100%;
        vertical-align: bottom;
      }
    }

    @include m.forSp {
      margin-top: 29.5px;
      margin-bottom: 31px;
      display: block;
      justify-content: initial;

      .service_item img {
        width: 100%;
        vertical-align: bottom;
      }
    }
  }

  .rel_btn { 
    margin-left: 8px;
    @include m.forSp {
      margin-left: 0;
    }
  }
}
// service

// bg_wrap
.bg_wrap {
  background-image: url("../img/pc/deco_head.png"), url("../img/pc/deco_bottom.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top 0 left 0, top 1075.5px right 0;

  @include m.forSp {
    background-image: url("../img/sp/deco_head.png"), url("../img/sp/deco_bottom.png");
    background-position: top 35px left 0, top 1540px right 0;
    background-size: 34.3%, 31.5%;
  }
}
  //attempt
  .attempt {
    padding-top: 83px;
    padding-bottom: 66px;

    @include m.forSp {
      padding-top: 28.5px;
    }

    .attempt_wrap { 
      margin-top: 32px;

      @include m.forSp {
        margin-top: 35px;
      }
    }
  }
  //attempt

  // news
  .news {
    padding-top: 83px;
    padding-bottom: 66px;
    text-align: center;

    ul {
      margin-top: 32px;
      margin-bottom: 31px;
      text-align: left;
      @include m.forSp {
        margin-top: 18.5px;
        margin-bottom: 29px;
      }

      li {
        padding-top: 17px;
        padding-bottom: 15px;
        border-bottom: 2px dashed #eee;
        @include m.forSp {
          padding-top: 15px;
          p {
            font-size: 11px;
            line-height: 20px;
            word-break: break-all;
          }
        }

        &:first-child { padding-top: 0;}

        & a:hover { text-decoration: underline; opacity: c.$opc_a;}
      }
    }

    h3 {
      font-size: 16px;
      font-family: f.$ff-sans;
      letter-spacing: 0.17em;
      margin-bottom: 17px;

      time { font-size: 14px; margin-right: 20px;}

      @include m.forSp { 
        font-size: 14px;
        margin-bottom: 6px;
        line-height: 1.23em;
        
        time {
          font-size: 10px; 
          display: block;
          margin-right: 0;
        }
      }
    }

    @include m.forSp { padding-top: 3px;}
  }
  // news

  // customer
  .customer {
    padding-top: 88px;
    padding-bottom: 83px;

    @include m.forSp {
      padding-top: 2.5px;
      padding-bottom: 68.5px;
    }

    &_wrap { 
      margin-top: 31px;
      @include m.forSp {
        margin-top: 30px;
        .flex_item_2 {
          padding: 0;

          img { margin-bottom: 8.5px !important;}
        }
      }

    }

    &_first_item {
      position: relative; 
      margin-bottom: 36px;

      @include m.forSp { margin-bottom: 30px;}

      img { 
        width: 100%;
        @include m.forTab {
          &:first-child { display: none;}
          &:nth-child(2) { display: block !important;}
        }
      }

      .first_item_text {
        width: 269px;
        position: absolute;
        top: 37px;
        right: 34px;
        
        @include m.forSpTab {
          width: 100%;
          padding: 23px 14px 25px 23px;
          box-sizing: border-box;
          position: initial;
          background-color: #fafafa;
        }

        p { 
          margin-bottom: 42px;
          @include m.forTab { margin-bottom: 1em;}

          @include m.forSp {
            font-size: 13px;
            line-height: 24px;
            margin-bottom: 9px;
          }
        }
      }
    }
  }
  // customer
// bg_wrap

// question
.question {
  padding-top: 72px;
  padding-bottom: 168px;
  text-align: center;

  @include m.forSp {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  dl {
    margin-top: 24.5px;
    margin-bottom: 30px;
    text-align: left;
    @include m.forSp {
      margin-top: 34px;
      margin-bottom: 28.5px;
    }
  }

  dt {
    font-family: f.$ff-sans;
    font-weight: f.$fw-bg;
    letter-spacing: 0.17em;
    margin-bottom: 18px;
    margin-top: 11px;

    @include m.forSp {
      font-size: 13px;
      margin: 18.5px 8px 7px 4.5px;
      padding-left: 32px;
      text-indent: -38px;
      line-height: 18px;
    }

    &:first-child { margin-top: 0;}

    &::before {
      content: 'Q';
      font-size: 24px;
      color: c.$cr-m;
      margin-right: 10px;
      @include m.forSp {
        font-size: 32px;
        margin-right: 11px;
        vertical-align: top;
      }
    }
  }

  dd { 
    font-size: 14px;
    font-family: f.$ff-sans;
    letter-spacing: 0.15em;
    line-height: 1.75em;
    padding-bottom: 13.5px;
    border-bottom: 2px dashed #eee;

    @include m.forSp {
      font-size: 11px;
      line-height: 20px;
      letter-spacing: 0.155em;
      padding-bottom: 21px;
    }
  }
}
// question
// main
