// ベースカラー
// $cr-m: #0cabb1;
$cr-m: #00b8bf;

$cr-m-dp: #4dcdd1;

// 背景
$cr-bg: #fff;

// テキスト
$cr_txt: #666;

// テキスト強調
$cr_txt_stg: #333;

// opacity
$opc_a: 0.8;

// グラデーション
@mixin cr-grad($val) {
  background: linear-gradient($val + deg, $cr-m 50%, $cr-m-dp 50%);
}

