//文字コードはutf-8
@charset "UTF-8";
@use "_color" as c;

//フォント
$ff-serif: "Noto Serif JP", sans-serif;

$ff-sans: "Noto Sans JP", sans-serif;

$fw-st: 400;

$fw-bg: 700;

// 下ボーダー
@mixin bd-btm($val) { 
  border-bottom: $val+px solid c.$cr-m;
}