@charset "UTF-8";
@use "_mixins" as m;
@use "_fonts" as f;
@use "_color" as c;

  .sp_nav {
    position:fixed;
    z-index: 999;
    top:-120%;
    left:0;
    width:100%;
    // height: 80.5vh;
    height: 420px;
    background:#fff;
    // transition: all 0.6s;
    transition: all 1s;
    @include m.forTab {
      height: 500px;
    }

    ul {
      display: block;
      position: absolute;
      // width: 100%;
      width: calc(100% - 51px);;
      top:44.5%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include m.forTab {
        top: 49%;
      }

      li {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
        height: 50px;
        box-sizing: border-box;
        border-bottom: 2px dashed #eee;
        font-family: f.$ff-serif;
        text-align: center;
        letter-spacing: 0.11em;

        a:hover { color: c.$cr-m;}

        @include m.forTab {
          font-size: 16px;
          height: 60px;
          padding-top: 19px;
          padding-bottom: 19px;
        }
      }
    }

    .reserve {
      width: 270px;
      height: 50px;
      @include c.cr-grad(349.8);
      text-align: center;
      display: table;
      position: absolute;
      top:81%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include m.forTab {
        top: 85%;
      }

      p {
        font-size: 18px;
        font-family: f.$ff-serif;
        display: table-cell;
        vertical-align: middle;
        color: #fff;
        letter-spacing: 0.12em;
      }

      &:hover { opacity: c.$opc_a;}
    }
  }

  .sp_nav.panelactive{ top: 0px;}
