//文字コードはutf-8
@charset "UTF-8";
@use "_mixins" as m;
@use "_fonts" as f;
@use "_color" as c;

#header {
  display: flex;
  height: 82px;
  box-sizing: border-box;
  background-color: #fff;
  // position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1189px;
  z-index: 9999;
  transition: all 0.4s;

  @include m.forSp { height: 50px;}

  .logo {
    margin-left: 43px;
    @include m.forSpTab { margin-left: 20px;}

    img {
      &:first-child { margin-top: 20px;}

      &:nth-child(2) {
        vertical-align: top;
        margin-left: 13px;
        margin-top: 30px;
      }

      @include m.forSp {
        &:first-child {
          width: 31px; 
          height: 31px;
          margin-top: 10px;
        }

        &:nth-child(2) {
          margin-left: 8px;
          margin-top: 17px;
          width: 159px;
          height: 17px;
        }
      }
    }
  }

  .header_right {
    display: flex;
    margin-left: auto;
    align-items: center;

    @include m.forTab { display: none;}

    nav ul {
      display: flex;
      margin-right: 52px;

      li {
        font-size: 16px;
        font-family: f.$ff-serif;
        letter-spacing: 0.12em;
        margin-right: 35px;
       &:last-child {
        margin-right: 0px;
       }
       a:hover { color: c.$cr-m;}
      }
    }

    @include m.forSp {
      nav,
      .reserve { display: none;}
    }
  }

  .reserve {
    width: 134px;
    height: 84px;
    text-align: center;
    display: table;
    @include c.cr-grad(-31.5);

    p {
      font-size: 18px;
      font-family: f.$ff-serif;
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      letter-spacing: 0.12em;
    }

    &:hover { opacity: c.$opc_a;}
  }

  // ハンバーガー試作
  .ham {
    width: 50px;
    height: 50px;
    @include c.cr-grad(-45);
    cursor: pointer;
    position: relative;
    display: none !important;
    @include m.forTab {
      display: block !important;
      margin-left: auto;
      width: 82px;
      height: 82px;
    }
    @include m.forSp {
      display: block !important;
    }
  }

  .ham span {
    position: absolute;
    left: 12.5px;
    height: 2.5px;
    background-color: #fff;
    border-radius: 2px;
    width: 25px;

    @include m.forTab {
      left: 21px;
      height: 3px;
      width: 41px;
    }
  }

  .ham,
  .ham span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }

  .ham span:nth-of-type(1) { 
    top: 14px;  
    animation: bar1 .75s forwards;

    @include m.forTab {
      top: 25px;
      animation: none;
      animation: bar1_tab .75s forwards;
    }
  }
  @keyframes bar1 {
    0% { transform: translateY(9px) rotate(45deg);}

    50% { transform: translateY(9px) rotate(0);}

    100% { transform: translateY(0) rotate(0);}
  }
  @keyframes bar1_tab {
    0% { transform: translateY(14px) rotate(45deg);}

    50% { transform: translateY(14px) rotate(0);}

    100% { transform: translateY(0) rotate(0);}
  }
    
  .ham span:nth-of-type(2) { 
    top: 23px; 
    transition: all .25s .25s; 
    opacity: 1;
    @include m.forTab {
      top: 39px;
    }
  }
    
  .ham span:nth-of-type(3) { 
    top: 32px; 
    animation: bar3 .75s forwards;
    @include m.forTab {
      top: 53px;
      animation: none;
      animation: bar3_tab .75s forwards;
    }
  }

  @keyframes bar3 {
    0% { transform: translateY(-9px) rotate(-45deg);}

    50% { transform: translateY(-9px) rotate(0);}

    100% { transform: translateY(0) rotate(0);}
  }
  @keyframes bar3_tab {
    0% { transform: translateY(-14px) rotate(-45deg);}

    50% { transform: translateY(-14px) rotate(0);}

    100% { transform: translateY(0) rotate(0);}
  }

  .ham.active span:nth-of-type(1) { 
    animation: active-1 .75s forwards;

    @include m.forTab {
      animation: none;
      animation: active-1_tab .75s forwards;
    }
  }

  @keyframes active-1 {
    0% { transform: translateY(0) rotate(0);}

    50% { transform: translateY(9px) rotate(0);}

    100% { transform: translateY(9px) rotate(45deg);}
  }
  @keyframes active-1_tab {
    0% { transform: translateY(0) rotate(0);}

    50% { transform: translateY(14px) rotate(0);}

    100% { transform: translateY(14px) rotate(45deg);}
  }

  .ham.active span:nth-of-type(2) { opacity: 0;}
  
  .ham.active span:nth-of-type(3){ 
    animation: active-3 .75s forwards;
    @include m.forTab {
      animation: none;
      animation: active-3_tab .75s forwards;
    }
  }

  @keyframes active-3 {
    0% { transform: translateY(0) rotate(0);}

    50% { transform: translateY(-9px) rotate(0);}

    100% { transform: translateY(-9px) rotate(-45deg);}
  }

  @keyframes active-3_tab {
    0% { transform: translateY(0) rotate(0);}

    50% { transform: translateY(-14px) rotate(0);}

    100% { transform: translateY(-14px) rotate(-45deg);}
  }
  // ハンバーガー試作
}

